@charset "UTF-8";
/*------------------------------------------
10周年記念LP
------------------------------------------*/
#fwCms_wrapper #ANNIVEDF{
	font-family:"メイリオ", Meiryo, "Hiragino Sans", "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-size:16px;
	text-align:center;
	line-height:1.6;
	letter-spacing:0.05em;
	color:#333;
	background-image:url(https://img08.magaseek.com/images/df/imgmg/ANNIVEDF10/bk_main_sp.png);
	background-repeat:repeat;
	background-size:contain;
	background-attachment:fixed;
	padding-bottom:60px;
  --color:#e84383;
	--bgColor-pale:#fbe0e8;
	--bgColor-dark:#FBC3D6;
}
#fwCms_wrapper #ANNIVEDF figure{
	margin:0;
}
#fwCms_wrapper #ANNIVEDF img{
	max-width:100%;
}
#fwCms_wrapper #ANNIVEDF p{
	font-size:16px;
	line-height:1.7;
}
#fwCms_wrapper #ANNIVEDF a{
  display:block;
}
#fwCms_wrapper #ANNIVEDF .bold{
	font-weight:bold;
}
#fwCms_wrapper #ANNIVEDF .header{
	background-image:url(https://img08.magaseek.com/images/df/imgmg/ANNIVEDF10/bk_header_sp.png);
	background-repeat:no-repeat;
	background-size:cover;
	padding:60px 0 30px;
}
#fwCms_wrapper #ANNIVEDF .header-mv{
	position:relative;
	z-index:100;
}
/* bgアニメーション*/
#fwCms_wrapper #ANNIVEDF .header-bgArea{
	position:relative;
	width:100%;
	z-index:0;
	background:none;
	overflow:inherit;
}
#fwCms_wrapper #ANNIVEDF .bgArea-inner{
	position:absolute;
	width:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	height:calc(920 * (100vw / 750));
}
#fwCms_wrapper #ANNIVEDF .bgArea-parts{
	position:absolute;
	-webkit-animation-duration:5s;
	animation-duration:5s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
	z-index:-1;
}
@keyframes mix01{
	0%{
		top:10%;
		border-radius:37% 63% 32% 68% / 58% 49% 51% 42%;
	}
	60%{
		top:8%;
		border-radius:42% 58% 57% 43% / 40% 36% 64% 60%;
	}
	100%{
		top:10%;
		border-radius:37% 63% 32% 68% / 58% 49% 51% 42%;
	}
}
@keyframes mix02{
	0%{
		top:-5%;
		border-radius:37% 63% 63% 37% / 32% 65% 35% 68%;
	}
	50%{
		top:2%;
		border-radius:60% 40% 74% 26% / 83% 70% 30% 27%;
	}
	100%{
		top:-5%;
		border-radius:37% 63% 63% 37% / 32% 65% 35% 68%;
	}
}
@keyframes mix03{
	0%{
		bottom:-20%;
		border-radius:62% 38% 33% 67% / 57% 82% 38% 43%;
	}
	50%{
		bottom:-15%;
		border-radius:60% 40% 74% 26% / 18% 27% 30% 17%;
	}
	100%{
		bottom:-20%;
		border-radius:62% 38% 33% 67% / 57% 82% 38% 43%;
	}
}
@keyframes mix04{
	0%{
		bottom:10%;
    border-radius:60% 40% 70% 26% / 80% 70% 30% 47%;
	}
	50%{
		bottom:2%;
    border-radius:60% 40% 70% 26% / 80% 70% 30% 47%;
	}
	100%{
		bottom:10%;
    border-radius:60% 40% 70% 26% / 80% 70% 30% 47%;
	}
}
@keyframes mix05{
	0%{
		top:100%;
    border-radius:42% 58% 57% 43% / 40% 36% 64% 60%;
	}
	50%{
		top:90%;
    border-radius:62% 38% 33% 67% / 57% 82% 18% 43%;
	}
	100%{
		top:100%;
    border-radius:42% 58% 57% 43% / 40% 36% 64% 60%;
	}
}
#fwCms_wrapper #ANNIVEDF .bgArea-parts-01{
	right:-25%;
	top:10%;
	background-color:var(--bgColor-pale);
	border-radius:37% 63% 32% 68% / 58% 49% 51% 42%;
	-webkit-animation-name:mix01;
	animation-name:mix01;
	width:calc(363 * (100vw / 750));
	height:calc(298 * (100vw / 750));
}
#fwCms_wrapper #ANNIVEDF .bgArea-parts-02{
	left:-28%;
	top:-5%;
	background-color:var(--bgColor-pale);
	border-radius:37% 63% 63% 37% / 32% 65% 35% 68%;
	-webkit-animation-name:mix02;
	animation-name:mix02;
	width:calc(308 * (100vw / 750));
	height:calc(370 * (100vw / 750));
}
#fwCms_wrapper #ANNIVEDF .bgArea-parts-03{
	right:-17%;
	bottom:-20%;
	background-color:var(--bgColor-dark);
	border-radius:62% 38% 33% 67% / 57% 82% 38% 43%;
	-webkit-animation-name:mix03;
	animation-name:mix03;
	width:calc(458 * (100vw / 750));
  height:calc(470 * (100vw / 750));
}
#fwCms_wrapper #ANNIVEDF .bgArea-parts-04{
	left:-24%;
	bottom:10%;
	background-color:var(--bgColor-dark);
	border-radius:60% 40% 70% 26% / 80% 70% 30% 47%;
	-webkit-animation-name:mix04;
	animation-name:mix04;
	width:calc(358 * (100vw / 750));
  height:calc(280 * (100vw / 750));
}
#fwCms_wrapper #ANNIVEDF .bgArea-parts-05{
	display:none;
	left:0%;
	top:100%;
	background-color:var(--bgColor-pale);
	border-radius:42% 58% 57% 43% / 40% 36% 64% 60%;
	-webkit-animation-name:mix05;
	animation-name:mix05;
	width:calc(308 * (100vw / 750));
  height:calc(280 * (100vw / 750));
}
#fwCms_wrapper #ANNIVEDF .mv-sub{
	margin:0 16%;
	position:relative;
}
@keyframes pick{
	0%, 100%, 8%, 16%{
		transform:none;
	}
	12%, 4%{
		transform:scale(1.08);
	}
}
#fwCms_wrapper #ANNIVEDF .mv-baroon{
	position:absolute;
	bottom:-44%;
	right:24%;
	width:38%;
	animation:pick 5s ease infinite;
}
#fwCms_wrapper #ANNIVEDF .mv-title{
	margin-top:11%;
	padding:0 15%;
	position:relative;
}
@keyframes upDown{
    0%{
        transform:translate(0,0px);
    }

    100%{
        transform:translate(0,10px)
    }
}
#fwCms_wrapper #ANNIVEDF .mv-title-bg{
	position:absolute;
	top:-12%;
	left:0%;
	padding:0 3%;
	width:100%;
	animation-name:upDown;
	animation-timing-function:ease-in-out;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-duration:1.5s;
}
#fwCms_wrapper #ANNIVEDF .header-link{
	padding:0 20%;
	margin-top:25px;
	position:relative;
	z-index:100;
}
#fwCms_wrapper #ANNIVEDF .header-lead{
	margin-top:25px;
	position:relative;
	z-index:100;
}
#fwCms_wrapper #ANNIVEDF .header-lead .color{
	color:#e84383;
	font-weight:bold;
}
#fwCms_wrapper #ANNIVEDF .header-lead + .header-lead{
	margin-top:34px;
}
#fwCms_wrapper #ANNIVEDF .main{
	z-index:100;
	position:relative;
}
/* parts */
#fwCms_wrapper #ANNIVEDF .btn-box{
	margin-top:20px;
}
#fwCms_wrapper #ANNIVEDF .btn-col + .btn-col{
	margin-top:15px;
}
#fwCms_wrapper #ANNIVEDF .btn-col a{
	padding:18px 5%;
  width:100%;
  background:var(--color);
  color:#fff;
  display:inline-block;
  font-size:14px;
  border-radius:6px;
  position:relative;
}
#fwCms_wrapper #ANNIVEDF .sec-big.end .sec-box-img a{
	pointer-events:none;
}
#fwCms_wrapper #ANNIVEDF .sec-big.end .btn-col a{
	background:#888;
	pointer-events:none;
}
#fwCms_wrapper #ANNIVEDF .btn-col a::after{
	content:"";
	display:block;
	position:absolute;
	top:50%;
	right:12px;
	width:10px;
	height:10px;
	margin-top:-5px;
	border-top:solid 1px;
	border-right:solid 1px;
	transform:rotate(45deg);
	color:#fff;
}
#fwCms_wrapper #ANNIVEDF .sec_ttl{
	font-size:27px;
	font-weight:bold;
	color:var(--color);
	line-height:1.4;
}
#fwCms_wrapper #ANNIVEDF .sec-box-img{
	margin-top:18px;
}
#fwCms_wrapper #ANNIVEDF .sec-box + .sec-box{
	margin-top:40px;
}
#fwCms_wrapper #ANNIVEDF .section2 .sec-box + .sec-box{
	margin-top:15px;
}
/* コンテンツリスト */
#fwCms_wrapper #ANNIVEDF .sec-cont-list li{
  padding:8px 6.6%;
}
#fwCms_wrapper #ANNIVEDF .sec-cont-list li.end{
  background:#dedede;
}
#fwCms_wrapper #ANNIVEDF .sec-cont-list li.end a{
	pointer-events:none;
}
#fwCms_wrapper #ANNIVEDF .list-box{
  display:flex;
}
#fwCms_wrapper #ANNIVEDF .list-bnr{
  width:45%;
}
#fwCms_wrapper #ANNIVEDF .list-bnr img{
	border-radius:6px;
}
#fwCms_wrapper #ANNIVEDF li.end .list-bnr img{
	filter:brightness(50%);
}
#fwCms_wrapper #ANNIVEDF li.end .list-bnr{
	position:relative;
}
#fwCms_wrapper #ANNIVEDF li.end .list-bnr::after{
	content:'終了しました';
	position:absolute;
	top:50%;
	left:0;
	transform:translate(0, -50%);
	width:100%;
	z-index:100;
	color:#fff;
	font-weight:bold;
}
#fwCms_wrapper #ANNIVEDF .list-text{
  width:55%;
	margin-left:4%;
	text-align:left;
}
#fwCms_wrapper #ANNIVEDF .list-text p{
	font-size:14px;
}
#fwCms_wrapper #ANNIVEDF .list-text .text{
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:4;
	overflow:hidden;
	margin-top:2px;
	padding:0;
	background:transparent;
}
/* アコーディオン */
#fwCms_wrapper #ANNIVEDF .moreList{
	display:none;
	width:100%;
  margin:0;
}
#fwCms_wrapper #ANNIVEDF .moreList li{
  display:inline-block;
}
#fwCms_wrapper #ANNIVEDF .moreBtn{
	position:relative;
	padding-right:35px;
	cursor:pointer;
}
#fwCms_wrapper #ANNIVEDF .moreBtn::after{
	content:"";
	position:absolute;
	bottom:12px;
	right:38%;
	width:10px;
	height:10px;
	margin-left:-5px;
	border-top:solid 1px #000;
	border-left:solid 1px #000;
	box-sizing:border-box;
	-webkit-transform:rotate(-135deg);
	transform:rotate(-135deg);
}
#fwCms_wrapper #ANNIVEDF .moreBtn.active::after{
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	bottom:7px;
}
#fwCms_wrapper #ANNIVEDF .moreBtn{
	text-align:center;
	width:100%;
	margin-left:0;
	margin-top:20px;
}
/* 2colキャンペーン */
#fwCms_wrapper #ANNIVEDF .sec-list{
	margin-top:20px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
#fwCms_wrapper #ANNIVEDF .sec-list li{
	width:48%;
}
#fwCms_wrapper #ANNIVEDF .sec-list li img{
	border-radius:6px;
}
#fwCms_wrapper #ANNIVEDF .sec-list li:nth-child(n+3){
	margin-top:20px;
}
#fwCms_wrapper #ANNIVEDF .sec-list .text{
	text-align:left;
	margin-top:6px;
	font-size:14px;
}
/* swiper */
#fwCms_wrapper .js-slider-wrap_bigbnr{
	padding-bottom:5.2%;
	overflow:hidden;
	margin-top:15px;
}
[class*="js-slider-wrap"]{
	overflow:hidden;
	position:relative;
	padding:0 3%;
}
[class*="js-slider-wrap"] .js-slider-list{
		position:relative;
		display:flex;
		padding-bottom:11px;
		width:100%;
		height:100%;
		box-sizing:content-box;
		overflow:visible;
		z-index:1;
		transition-property:transform;
		transform:translate3d(0px, 0, 0);
}
[class*="js-slider-wrap"] .js-slider-list .js-slider-item{
		flex-shrink:0;
		margin:0;
		width:30%;
		height:100%;
		background:rgba(255, 255, 255, 0.5);
		position:relative;
		transition-property:transform;
		font-size:18px;
		text-align:center;
}
#fwCms_wrapper .js-slider-wrap_bigbnr .js-slider-list .js-slider-item{
		width:76%;
		border-radius:8px;
		overflow:hidden;
}
#fwCms_wrapper .bnr-list a{
		position:relative;
		display:block;
}
#fwCms_wrapper [class*="js-slider-wrap"] .js-slider-pagination{
	position:absolute;
	bottom:0;
	text-align:center;
}
#fwCms_wrapper [class*="js-slider-wrap"] .js-slider-pagination .swiper-pagination-bullet{
	margin:0 5px;
}
#fwCms_wrapper .swiper-pagination-bullet-active{
	background-color:#222;
}
/* どうしていつもおとくなの */
#fwCms_wrapper #ANNIVEDF .article1{
	padding:40px 0 50px;
	background:var(--color);
}
#fwCms_wrapper #ANNIVEDF .article1-ttl{
	margin:0 10%;
	position:relative;
}
#fwCms_wrapper #ANNIVEDF .article1-head{
	position:absolute;
	bottom:0;
	left:23%;
	width:37%;
	animation:pick 5s ease infinite;
}
#fwCms_wrapper #ANNIVEDF .article1-box{
	padding:25px 6% 40px;
	background:#fff;
	border-radius:10px;
  margin:30px 5% 0;
}
#fwCms_wrapper #ANNIVEDF .article1-box .article1-box-head{
	color:var(--color);
	font-size:17px;
	font-weight:bold;
	margin-top:0;
	text-align:center;
}
#fwCms_wrapper #ANNIVEDF .article1-box figure{
	margin-top:26px;
}
#fwCms_wrapper #ANNIVEDF .article1-box p{
	font-size:14px;
	margin-top:30px;
	text-align:left;
}
/* こまめなチェックでもっとお得に */
#fwCms_wrapper #ANNIVEDF .article2{
  background:none;
	padding:40px 6.6%;
}
#fwCms_wrapper #ANNIVEDF .article2-ttl{
	font-size:14px;
	font-weight:bold;
}
#fwCms_wrapper #ANNIVEDF .article2 .btn-box{
	margin-top:16px;
}
#fwCms_wrapper #ANNIVEDF .article2 .btn-col a{
	color:#333;
	background:#fff;
	border:solid 2px var(--color);
}
#fwCms_wrapper #ANNIVEDF .article2 .btn-col a::after{
	color:var(--color);
}
/* 10周年は10日に注目 */
#fwCms_wrapper #ANNIVEDF .article3{
	padding:0;
}
/* スペシャルコンテンツ */
#fwCms_wrapper #ANNIVEDF .section1{
	padding:40px 6.6% 55px;
	background:#fff;
}
#fwCms_wrapper #ANNIVEDF .section + .section{
	margin-top:35px;
}
#fwCms_wrapper #ANNIVEDF .sec-small{
  margin:0 -6.6%;
}
/* お得なアイテムがきっと見つかる */
#fwCms_wrapper #ANNIVEDF .section2{
	background:#fff;
	padding:40px 0;
}
#fwCms_wrapper #ANNIVEDF .sec-type{
	margin-top:15px;
	width:25%;
	display:inline-block;
	border:solid 1px #f24d50;
	color:#f24d50;
	border-radius:20px;
}
#fwCms_wrapper #ANNIVEDF .sec-type .type{
	font-size:14px;
  font-weight:bold;
}
#fwCms_wrapper #ANNIVEDF .sec-type.type-M{
	border:solid 1px #1464ab;
	color:#1464ab;
}
/* dポイントがどんどんたまる */
#fwCms_wrapper #ANNIVEDF .section3{
	padding:40px 6.6% 55px;
	background:#fff;
}
/* 230610update */
#fwCms_wrapper #ANNIVEDF.update06 .header{
	padding:30px 0;
}
#fwCms_wrapper #ANNIVEDF.update06 .mv-baloon{
	margin:0 19%;
	background:var(--subColor);
	border-radius:50px;
	padding:9px 5%;
	position:relative;
}
#fwCms_wrapper #ANNIVEDF.update06 .mv-baloon:before{
	content:"";
	position:absolute;
	top:100%;
	left:50%;
	margin-left:-10px;
	border:10px solid transparent;
	border-top:10px solid var(--subColor);
}
#fwCms_wrapper #ANNIVEDF.update06 .mv-baloon .imgBox{
	display:flex;
	align-items:center;
}
#fwCms_wrapper #ANNIVEDF.update06 .mv-baloon .imgBox .img-main{
	width:60%;
	animation:pick 5s ease infinite;
}
#fwCms_wrapper #ANNIVEDF.update06 .mv-baloon .imgBox .img-sub{
	width:100%;
	margin-right:5%;
}
#fwCms_wrapper #ANNIVEDF.update06 .mv-title{
	margin-top:5%;
	padding:0 26%;
}
#fwCms_wrapper #ANNIVEDF.update06 .mv-sub{
	margin:16px 14% 0;
}
#fwCms_wrapper #ANNIVEDF.update06 .mv-title-bg{
	top:-12%;
	padding:0 17%;
}
#fwCms_wrapper #ANNIVEDF.update06 .mv-lead{
	margin:15px 18% 0;
	padding-bottom:8px;
	border-bottom:solid 3px var(--subColor);
}
#fwCms_wrapper #ANNIVEDF.update06 .article1{
	padding:15px 0;
}
#fwCms_wrapper #ANNIVEDF.update06 .article1-inner{
	display:none;
	padding-bottom:10px;
}
#fwCms_wrapper #ANNIVEDF.update06 .article1-ttl{
	margin:0;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	position:relative;
	display:inline-block;
	width:100%;
	height:100%;
}
#fwCms_wrapper #ANNIVEDF.update06 .article1-ttl::after, #fwCms_wrapper #ANNIVEDF.update06 .article1-ttl::before{
	position:absolute;
	content:"";
	display:block;
	transition:all 0.4s;
	background:#fff;
	right:5%;
	top:50%;
	width:4%;
	height:2px;
	margin-top:-2px;
	transform:translate(-50%, -50%);
}
#fwCms_wrapper #ANNIVEDF.update06 .article1-ttl::before{
	transform:translate(-50%, -50%) rotate(90deg);
}
#fwCms_wrapper #ANNIVEDF.update06 .article1-ttl.open::before{
	transform:translate(-50%, -50%) rotate(0deg);
}
#fwCms_wrapper #ANNIVEDF.update06 .article2{
	display:none;
}
#fwCms_wrapper #ANNIVEDF.update06 .article2-ttl{
	color:#fff;
}
#fwCms_wrapper #ANNIVEDF.update06 .section-navi{
	background:#fff;
	padding:40px 6.6%;
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-head{
	font-size:21px;
	font-weight:bold;
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list{
	margin-top:10px;
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list li + li{
	margin-top:5px;
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list li a{
	padding:12px 5% 10px;
	width:100%;
	background:#fff;
	display:inline-block;
	font-size:14px;
	border-radius:6px;
	position:relative;
	border:solid 2px var(--subColor);
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list li a::after{
	content:"";
	display:block;
	position:absolute;
	top:50%;
	right:12px;
	width:8px;
	height:8px;
	margin-top:-5px;
	border-top:solid 1px;
	border-right:solid 1px;
	transform:rotate(135deg);
	color:#000;
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list .sub{
	display:block;
	font-size:12px;
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list .bold{
	margin-top:8px;
	display:block;
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-box + .navi-box{
	margin-top:40px;
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list.col2{
	display:flex;
	flex-wrap:wrap;
	justify-content:left;
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list.col2 li{
	width:calc(100% / 2 - 1.5%);
	margin-top:0;
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list.col2 li:nth-child(2n){
	margin-left:3%;
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list.col2 li:nth-child(n+3){
	margin-top:10px;
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list.col2 .bold{
	font-size:12px;
	margin-top:0;
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list.col2 a{
	padding:15px 5% 26px;
	border-color:var(--color);
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list.col2 li a::after{
	top:64%;
	right:calc(50% - 7px);
	color:var(--color);
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list.col2 .update{
	position:relative;
}
#fwCms_wrapper #ANNIVEDF.update06 .navi-list.col2 .update::before{
	content:attr(data-update);
	position:absolute;
	top:-7px;
	left:10px;
	width:40%;
	padding:2px;
	background:var(--subColor);
	z-index:10;
	font-size:10px;
	border-radius:50px;
	color:#fff;
}
#fwCms_wrapper #ANNIVEDF.update06 .section + .section{
	margin-top:20px;
}
#fwCms_wrapper #ANNIVEDF.update06 .section .btn-col a{
	background:var(--subColor);
}
#fwCms_wrapper #ANNIVEDF.update06 .section{
	padding:40px 6.6% 55px;
	background:#fff;
}
#fwCms_wrapper #ANNIVEDF.update06 #coupon{
	background:#fff9d1;
}
#fwCms_wrapper #ANNIVEDF.update06 .sec_ttl{
	font-size:14px;
	color:#333;
}
#fwCms_wrapper #ANNIVEDF.update06 .btn-box{
	margin-top:14px;
}
#fwCms_wrapper #ANNIVEDF.update06 .sec-box-img{
	margin-top:10px;
}
#fwCms_wrapper #ANNIVEDF.update06 .sec-wrap + .sec-wrap{
	margin-top:40px;
}
#fwCms_wrapper #ANNIVEDF.update06 .btn-box.col2{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
#fwCms_wrapper #ANNIVEDF.update06 .btn-box.col2 .btn-col{
	width:calc(100% / 2 - 1.5%);
}
#fwCms_wrapper #ANNIVEDF.update06 .btn-box.col2 .btn-col + .btn-col{
	margin-top:0;
}
#fwCms_wrapper #ANNIVEDF.update06 .btn-box.col2 .btn-col:nth-child(n+3){
	margin-top:10px;
}
#fwCms_wrapper #ANNIVEDF.update06 .btn-col a::after{
	width:8px;
	height:8px;
}
#fwCms_wrapper #ANNIVEDF.update06 .btn-box .bnt-L a{
	background:var(--subColor);
}
#fwCms_wrapper #ANNIVEDF.update06 .btn-box.col2 .btn-col a{
	background:#fff;
	color:#000;
	border:solid 1px var(--subColor);
	padding:18px 11% 18px 27%;
	text-align:left;
}
#fwCms_wrapper #ANNIVEDF.update06 .btn-box.col2 .btn-col.btn-M a{
	border:solid 1px var(--color);
}
#fwCms_wrapper #ANNIVEDF.update06 .btn-box.col2 .btn-col a::after{
	color:#000;
}
#fwCms_wrapper #ANNIVEDF.update06 .btn-box.col2 .btn-col a::before{
	content:"";
	display:block;
	position:absolute;
	top:50%;
	left:5%;
	transform:translateY(-50%);
	background-image:url(https://img08.magaseek.com/images/df/imgmg/ANNIVEDF10/img_06_women.png);
	width:30px;
	height:30px;
	background-size:contain;
	background-repeat:no-repeat;
}
#fwCms_wrapper #ANNIVEDF.update06 .btn-box.col2 .btn-M a::before{
	background-image:url(https://img08.magaseek.com/images/df/imgmg/ANNIVEDF10/img_06_men.png);
}
#fwCms_wrapper #ANNIVEDF.update06 .sec-headWrap{
	font-size:21px;
	font-weight:bold;
}
#fwCms_wrapper #ANNIVEDF.update06 .sec-headWrap + .sec-wrap{
	margin-top:20px;
}
#fwCms_wrapper #ANNIVEDF.update06 .section-item .sec_ttl{
	font-size:17px;
}
#fwCms_wrapper #ANNIVEDF.update06 .section-item .sec-wrap + .sec-wrap{
	margin-top:30px;
	padding-top:30px;
	border-top:solid 1px #dedede;
}
#fwCms_wrapper #ANNIVEDF.update06 .section-item .sec-item-inner + .sec-item-inner{
	margin-top:50px;
}
#fwCms_wrapper #ANNIVEDF.update06 .sec-item-baloon{
	position:relative;
	display:inline-block;
	margin:0 0 20px;
	padding:7px 10px;
	/* width:60%; */
	width:200px;
	font-size:16px;
	background:#FFF;
	border:solid 1px var(--subColor);
	box-sizing:border-box;
	border-radius:50px;
}
#fwCms_wrapper #ANNIVEDF.update06 .sec-item-baloon.type-M{
	border:solid 1px var(--color);
}
#fwCms_wrapper #ANNIVEDF.update06 .sec-item-baloon::before{
	content:"";
	position:absolute;
	bottom:-16px;
	left:54%;
	margin-left:-15px;
	border:8px solid transparent;
	border-top:8px solid #FFF;
	z-index:2;
}
#fwCms_wrapper #ANNIVEDF.update06 .sec-item-baloon::after{
	content:"";
	position:absolute;
	bottom:-18px;
	left:54%;
	margin-left:-16px;
	border:9px solid transparent;
	border-top:9px solid var(--subColor);
	z-index:1;
}
#fwCms_wrapper #ANNIVEDF.update06 .sec-item-baloon.type-M::after{
	border-top:9px solid var(--color);
}
#fwCms_wrapper #ANNIVEDF.update06 .baloon-text{
	font-size:12px;
	position:relative;
	padding-left:12%;
}
#fwCms_wrapper #ANNIVEDF.update06 .baloon-text .type::before{
	content:"";
	display:block;
	position:absolute;
	top:46%;
	left:50%;
	transform:translate(-80px, -50%);
	background-image:url(https://img08.magaseek.com/images/df/imgmg/ANNIVEDF10/img_06_icon_women.png);
	width:17px;
	height:11px;
	background-size:contain;
	background-repeat:no-repeat;
}
#fwCms_wrapper #ANNIVEDF.update06 .sec-item-baloon.type-M .baloon-text .type::before{
	background-image:url(https://img08.magaseek.com/images/df/imgmg/ANNIVEDF10/img_06_icon_men.png);
	transform:translate(-65px, -50%);
  top:45%;
}
#fwCms_wrapper #ANNIVEDF.update06 .baloon-text .type{
	color:var(--subColor);
	padding-right:5px;
	border-right:solid 1px;
	line-height:1;
	display:inline-block;
}
#fwCms_wrapper #ANNIVEDF.update06 .sec-item-baloon.type-M .baloon-text .type{
	color:var(--color);
}
#fwCms_wrapper #ANNIVEDF.update06 .baloon-text .theme{
	display:inline-block;
	padding-left:5px;
}
/* Ajax */
#fwCms_wrapper #ANNIVEDF.update06 .sec-addlist{
	margin:0 -8%;
}
#fwCms_wrapper #ANNIVEDF.update06 div[id^="lp_itemList"]{
	margin-top:0;
}
#fwCms_wrapper #ANNIVEDF.update06 div[id^="lp_itemList"] .box-inner{
	display:none;
}
#fwCms_wrapper #ANNIVEDF.update06 div[id^="lp_itemList"] .list-item-cmn li a .image .bage, #fwCms_wrapper #ANNIVEDF.update06 div[id^="lp_itemList"] .swiper-container a .image .bage{
	text-align:left;
	font-size:0;
}
#fwCms_wrapper #ANNIVEDF.update06 div[id^="lp_itemList"] .list-item-cmn li a .image .bage .green, #fwCms_wrapper #ANNIVEDF.update06 div[id^="lp_itemList"] .swiper-container a .image .bage .green, #fwCms_wrapper #ANNIVEDF.update06 div[id^="lp_itemList"] .list-item-cmn li a .image .bage .pink, #fwCms_wrapper #ANNIVEDF.update06 div[id^="lp_itemList"] .swiper-container a .image .bage .pink, #fwCms_wrapper #ANNIVEDF.update06 div[id^="lp_itemList"] .list-item-cmn li a .image .bage .dpoint, #fwCms_wrapper #ANNIVEDF.update06 div[id^="lp_itemList"] .swiper-container a .image .bage .dpoint{
	padding:2%;
}
#fwCms_wrapper #ANNIVEDF.update06 div[id^="lp_itemList"] .box-link-list{
	margin-top:0;
}
/*-----------PC----------------*/
@media all and (min-width:768px){
	#fwCms_wrapper #ANNIVEDF{
    font-size:16px;
    line-height:1.7;
		background-image:url(https://img08.magaseek.com/images/df/imgmg/ANNIVEDF10/bk_main_pc.png);
    background-repeat:repeat;
    background-size:contain;
    background-attachment:fixed;
		padding-bottom:80px;
  }
  #fwCms_wrapper #ANNIVEDF p{
		font-size:16px;
    line-height:1.7;
  }
  #fwCms_wrapper #ANNIVEDF img{
    image-rendering:-webkit-optimize-contrast;
  }
  #fwCms_wrapper #ANNIVEDF a:hover{
    opacity:0.7;
    text-decoration:none;
  }
	#fwCms_wrapper #ANNIVEDF .spcont{
		display:none;
	}
	#fwCms_wrapper #ANNIVEDF .header{
		background-image:url(https://img08.magaseek.com/images/df/imgmg/ANNIVEDF10/bk_header_pc.png);
    background-repeat:no-repeat;
    background-size:cover;
		position:relative;
	}
  /* bgアニメーション */
	#fwCms_wrapper #ANNIVEDF .mv-sub{
		margin:0 30%;
	}
	#fwCms_wrapper #ANNIVEDF .mv-title{
		margin-top:9%;
    padding:0 30%;
	}
	#fwCms_wrapper #ANNIVEDF .mv-title-bg{
		padding:0 22%;
	}
	#fwCms_wrapper #ANNIVEDF .bgArea-inner{
		height:43.2rem;
	}
	#fwCms_wrapper #ANNIVEDF .bgArea-parts-01{
    width:12.3rem;
    height:16.8rem;
		right:-7%;
	}
	#fwCms_wrapper #ANNIVEDF .bgArea-parts-02{
		width:14.8rem;
		height:20rem;
		left:-15%;
	}
	#fwCms_wrapper #ANNIVEDF .bgArea-parts-03{
		width:13.8rem;
    height:16rem;
    right:-2%;
	}
	#fwCms_wrapper #ANNIVEDF .bgArea-parts-04{
		width:23.8rem;
    height:16rem;
    left:-18%;
	}
	#fwCms_wrapper #ANNIVEDF .bgArea-parts-05{
		display:block;
    width:38.8rem;
    height:27rem;
		left:-10%;
	}
	#fwCms_wrapper #ANNIVEDF .header-link{
		margin-top:-126px;
    text-align:center;
    padding:0;
    margin-left:60%;
	}
	#fwCms_wrapper #ANNIVEDF .header-lead{
		margin-top:0;
	}
	#fwCms_wrapper #ANNIVEDF .header-lead + .header-lead{
		margin-top:28px;
	}
  /* parts */
  #fwCms_wrapper #ANNIVEDF .btn-box{
		margin-top:25px;
	}
	#fwCms_wrapper #ANNIVEDF .btn-col a{
		width:85%;
		font-size:20px;
	}
	#fwCms_wrapper #ANNIVEDF .sec_ttl{
		font-size:32px;
	}
	#fwCms_wrapper #ANNIVEDF .sec-list{
		justify-content:center;
	}
	#fwCms_wrapper #ANNIVEDF .sec-list li{
		width:23%;
    margin-right:2%;
	}
	#fwCms_wrapper #ANNIVEDF .sec-list li:nth-child(n+3){
		margin-top:0;
	}
	#fwCms_wrapper #ANNIVEDF .sec-list li:nth-child(n+5){
		margin-top:20px;
	}
	#fwCms_wrapper #ANNIVEDF .sec-box + .sec-box{
		margin-top:60px;
	}
  /* swiper */
  #fwCms_wrapper .js-slider-wrap_bigbnr{
		padding-bottom:30px;
	}
	[class*="js-slider-wrap"] .js-slider-next, [class*="js-slider-wrap"] .js-slider-prev{
		position:absolute;
		top:50%;
		margin-top:-18px;
		border-radius:50%;
		width:40px;
		height:40px;
		box-sizing:border-box;
		background:rgba(34, 34, 34, 0.7);
		cursor:pointer;
		z-index:10;
	}
	[class*="js-slider-wrap"] .js-slider-prev{
		left:10px;
		right:auto;
	}
	[class*="js-slider-wrap"] .js-slider-next{
		right:10px;
		left:auto;
	}
	[class*="js-slider-wrap"] .js-slider-next::after, [class*="js-slider-wrap"] .js-slider-prev::after{
		content:"";
		display:inline-block;
		position:absolute;
		top:50%;
		left:50%;
		width:10px;
		height:10px;
		border-radius:2px;
		transform:rotate(45deg);
	}
	[class*="js-slider-wrap"] .js-slider-prev::after{
		margin:-6px 0 0 -4px;
		border-bottom:solid 2px #fff;
		border-left:solid 2px #fff;
	}
	[class*="js-slider-wrap"] .js-slider-next::after{
		margin:-6px 0 0 -8px;
		border-top:solid 2px #fff;
		border-right:solid 2px #fff;
	}
  /* 独自コンテンツ */
	#fwCms_wrapper #ANNIVEDF .article1-ttl{
		margin:0 32%;
	}
	#fwCms_wrapper #ANNIVEDF .article1-box{
		margin:30px 15% 0;
	}
	#fwCms_wrapper #ANNIVEDF .article1-box .article1-box-head{
		font-size:28px;
	}
	#fwCms_wrapper #ANNIVEDF .article1-box p{
		font-size:16px;
	}
	#fwCms_wrapper #ANNIVEDF .article1-box figure{
		margin:26px 3% 0;
	}
	#fwCms_wrapper #ANNIVEDF .article2{
		padding:70px 0;
	}
  #fwCms_wrapper #ANNIVEDF .article2-ttl{
		font-size:28px;
	}
	#fwCms_wrapper #ANNIVEDF .article2-ttl.lead{
		font-size:20px;
	}
	#fwCms_wrapper #ANNIVEDF .article2 .btn-box{
		margin-top:22px;
	}
  #fwCms_wrapper #ANNIVEDF .article2 .btn-col a{
		width:50%;
	}
	#fwCms_wrapper #ANNIVEDF .section + .section{
		margin-top:80px;
	}
  #fwCms_wrapper #ANNIVEDF .section1{
		padding:60px 0;
	}
  #fwCms_wrapper #ANNIVEDF .section3{
		padding:60px 4%;
	}
	#fwCms_wrapper #ANNIVEDF .sec-big{
		padding:0 19%;
	}
	#fwCms_wrapper #ANNIVEDF .sec-small{
		margin:0 6%;
	}
	#fwCms_wrapper #ANNIVEDF .sec-cont-list{
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
	}
	#fwCms_wrapper #ANNIVEDF .sec-cont-list li{
		width:50%;
		padding:8px 1%;
	}
	#fwCms_wrapper #ANNIVEDF .list-text p{
		font-size:16px;
	}
	#fwCms_wrapper #ANNIVEDF .moreBtn{
		margin-top:40px;
	}
	#fwCms_wrapper #ANNIVEDF .moreBtn::after{
		right:44%;
	}
	#fwCms_wrapper #ANNIVEDF .moreBtn:hover{
		opacity:0.7;
		cursor:pointer;
	}
	#fwCms_wrapper #ANNIVEDF .section2{
		padding:60px 0;
	}
	#fwCms_wrapper #ANNIVEDF .sec-type{
		width:15%;
		margin-top:30px;
	}
	#fwCms_wrapper #ANNIVEDF .section3{
		padding:60px 14%;
	}
	/* 2306update */
	#fwCms_wrapper #ANNIVEDF.update06 .header{
		padding:50px 0 45px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .mv-baloon{
		margin:0 35%;
		padding:9px 3%;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .mv-sub{
    margin:16px 30% 0;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .mv-title{
    padding:0 37%;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .mv-title-bg{
    top:-16%;
    padding:0 26%;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .mv-lead{
		margin:25px 35% 0;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .article1-ttl p{
		font-size:26px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .article1-ttl::after, #fwCms_wrapper #ANNIVEDF.update06 .article1-ttl::before{
		right:14%;
    width:2.5%;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .article1-ttl:hover{
		cursor:pointer;
		opacity:0.7;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .article1-inner{
		padding-bottom:44px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .article2-ttl{
		font-size:26px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .section-navi.section{
		padding:50px 25% 55px
	}
	#fwCms_wrapper #ANNIVEDF.update06 .navi-head{
		font-size:26px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .navi-list .bold{
		font-size:20px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .navi-list .sub{
		font-size:16px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .navi-list.col2 .bold{
		font-size:16px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .navi-list li + li{
    margin-top:10px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .navi-list.col2 li:nth-child(n+3){
		margin-top:15px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .navi-list.col2 .update::before{
		width:32%;
		left:15px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .navi-list.col2 a{
		padding:15px 5% 30px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .sec_ttl{
		font-size:20px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .section + .section{
    margin-top:30px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .section{
		padding:60px 6.6% 55px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .sec-wrap + .sec-wrap{
		margin-top:50px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .btn-box.col2 .btn-col a{
		font-size:16px;
		padding:18px 11% 18px 22%;
		width:100%;
		border:solid 2px var(--subColor);
	}
	#fwCms_wrapper #ANNIVEDF.update06 .btn-box.col2 .btn-col.btn-M a{
    border:solid 2px var(--color);
}
	#fwCms_wrapper #ANNIVEDF.update06 .btn-box{
    margin-top:20px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .btn-box.col2 .btn-col:nth-child(n+3){
		margin-top:10px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .btn-box.col2{
		padding:0 8%;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .sec-headWrap{
		font-size:26px;
		line-height:1.5;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .section-item .sec_ttl{
		font-size:20px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .section-item .sec-wrap + .sec-wrap{
		margin-top:50px;
    padding-top:50px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .section-item .sec-item-inner + .sec-item-inner{
		margin-top:70px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .sec-item-baloon{
		width:210px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .baloon-text{
		font-size:14px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .baloon-text .type::before{
		transform:translate(-95px, -50%);
		width:20px;
    height:14px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .sec-item-baloon.type-M .baloon-text .type::before{
		transform:translate(-73px, -50%);
	}
	#fwCms_wrapper #ANNIVEDF.update06 .sec-addlist{
		margin-top:10px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .sec-headWrap + .sec-wrap{
		margin-top:25px;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .way2 div[id^="lp_itemList"] .box-link-list{
		margin-top:0;
	}
	#fwCms_wrapper #ANNIVEDF.update06 .sec-addlist.second{
		margin-top:15px;
	}
}
@media screen and (min-width:768px) and ( max-width:900px){
	#fwCms_wrapper #ANNIVEDF .header-link{
		margin-left:68%;
	}
}

/* ------------------------
1020更新 グランドフィナーレ
------------------------ */
#fwCms_wrapper #ANNIVEDF.finale .header{
	padding:30px 0 30px;
}
#fwCms_wrapper #ANNIVEDF.finale .header-link{
	padding:0 5%;
}
#fwCms_wrapper #ANNIVEDF.finale .header-lead{
	line-height:1.8;
	margin-top:30px;
}
#fwCms_wrapper #ANNIVEDF.finale .navi{
	padding:40px 2.6 50px;
	background:var(--color);
}
#fwCms_wrapper #ANNIVEDF.finale .navi{
	padding:40px 2.6% 50px;
	background:var(--color);
}
#fwCms_wrapper #ANNIVEDF.finale .navi-ttl{
	position:relative;
	padding:0 26%;
}
#fwCms_wrapper #ANNIVEDF.finale .navi-pick{
	position:absolute;
	bottom:-4px;
	left:23%;
	width:31%;
	animation:pick 5s ease infinite;
}
#fwCms_wrapper #ANNIVEDF.finale .navi-box{
	margin-top:26px;
}
#fwCms_wrapper #ANNIVEDF.finale .navi-box + .navi-box{
	margin-top:30px;
}
#fwCms_wrapper #ANNIVEDF.finale .navi-list li a{
	padding:18px 5%;
	width:100%;
	background:#fff;
	color:#000;
	display:inline-block;
	font-size:14px;
	border-radius:5px;
	position:relative;
	text-align:left;
}
#fwCms_wrapper #ANNIVEDF.finale .navi-list li a::after{
	content:"";
	display:block;
	position:absolute;
	top:50%;
	right:12px;
	width:8px;
	height:8px;
	margin-top:-7px;
	border-top:solid 1px;
	border-right:solid 1px;
	transform:rotate(135deg);
	color:var(--color);
}
#fwCms_wrapper #ANNIVEDF.finale .navi-list li + li{
	margin-top:10px;
}
#fwCms_wrapper #ANNIVEDF.finale .navi-list li .sub{
	background:var(--color);
	padding:2px 10px;
	border-radius:50px;
	color:#fff;
	font-weight:bold;
	margin-right:5px;
}
#fwCms_wrapper #ANNIVEDF.finale .navi-head{
	font-size:16px;
	font-weight:bold;
	color:#fff;
}
#fwCms_wrapper #ANNIVEDF.finale .navi-head + .navi-list{
	margin-top:20px;
}
#fwCms_wrapper #ANNIVEDF.finale .navi-list.col2{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
#fwCms_wrapper #ANNIVEDF.finale .navi-list.col2 li{
	width:calc(100% / 2 - 5px);
	position:relative;
	letter-spacing:0em;
}
#fwCms_wrapper #ANNIVEDF.finale .navi-list.col2 li + li{
	margin-top:0;
}
#fwCms_wrapper #ANNIVEDF.finale .navi-list.col2 li:nth-child(n+3){
	margin-top:20px;
}
#fwCms_wrapper #ANNIVEDF.finale .navi-list.col2 li.update::before{
	content:attr(data-update);
	position:absolute;
	top:-10px;
	left:10px;
	width:40%;
	padding:3px;
	background:#FFB600;
	z-index:10;
	font-size:10px;
	border-radius:50px;
	color:#000;
}
#fwCms_wrapper #ANNIVEDF.finale .navi-list.col2 li a{
	font-size:12px;
}
#fwCms_wrapper #ANNIVEDF.finale .section{
	padding:40px 6.6%;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-wrap + .sec-wrap{
	margin-top:60px;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-head{
	font-size:27px;
	font-weight:bold;
	color:var(--color);
	line-height:1.4;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-head + .sec-img{
	margin-top:20px;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-img + .sec-btn{
	margin-top:10px;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-btn a{
	padding:18px 5%;
	width:100%;
	background:var(--color);
	color:#fff;
	display:inline-block;
	font-size:14px;
	border-radius:6px;
	position:relative;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-btn.btnM a{
	background:var(--color-M);
}
#fwCms_wrapper #ANNIVEDF.finale .sec-btn a::after{
	content:"";
	display:block;
	position:absolute;
	top:50%;
	right:12px;
	width:8px;
	height:8px;
	margin-top:-4px;
	border-top:solid 1px;
	border-right:solid 1px;
	transform:rotate(45deg);
	color:#fff;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-btn-list{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-top:10px;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-btn-list li{
	width:calc(100% / 2 - 5px);
}
#fwCms_wrapper #ANNIVEDF.finale .sec-btn-list li:nth-child(n+3){
	margin-top:10px;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-btn-list .sec-btn a{
	font-size:12px;
	padding:12px 10%;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-btn-list .sec-btn a .small{
	font-size:10px;
}
#fwCms_wrapper #ANNIVEDF.finale .section + .section{
	margin-top:0;
}
/* ジェラピケ */
#fwCms_wrapper #ANNIVEDF.finale #happyBag{
	background:#FFFAE1;
}
#fwCms_wrapper #ANNIVEDF.finale #happyBag .sec-head{
	color:#AB782B;
}
#fwCms_wrapper #ANNIVEDF.finale #happyBag .sec-head .sub{
	font-size:22px;
	display:block;
}
#fwCms_wrapper #ANNIVEDF.finale #happyBag .sec-btn a{
	background:#E9AB11;
}
#fwCms_wrapper #ANNIVEDF.finale #happyBag .sec-wrap + .sec-wrap{
	margin-top:40px;
}
#fwCms_wrapper #ANNIVEDF.finale #happyBag .sec-wrap + .sec-btn{
	margin-top:30px;
}
#fwCms_wrapper #ANNIVEDF.finale #note{
	position:relative;
	height:73px;
	overflow:hidden;
	padding-bottom:30px;
	box-sizing:content-box;
	margin:20px -4% 0;
}
#fwCms_wrapper #ANNIVEDF.finale .noteLIst{
	font-size:10px;
	text-align:left;
}
#fwCms_wrapper #ANNIVEDF.finale .noteLIst dt, #fwCms_wrapper #ANNIVEDF.finale .noteLIst dd{
	line-height:1.5;
	padding-left:1em;
	text-indent:-1em;
}
#fwCms_wrapper #ANNIVEDF.finale #note .noteMoreBtn{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:30px;
	padding-top:40px;
	text-align:center;
	line-height:30px;
	background:linear-gradient(180deg,rgb(255, 255, 255, 0) 0%,rgb(255, 250, 225, 1) 70%);
	cursor:pointer;
	transition:bottom 0.2s;
	box-sizing:content-box;
}
#fwCms_wrapper #ANNIVEDF.finale #note .noteMoreBtn.active{
	background:none;
	padding-top:0;
	bottom:0;
}
#fwCms_wrapper #ANNIVEDF.finale #note .noteMoreBtn span{
	position:relative;
	padding-right:15px;
	font-size:12px;
}
#fwCms_wrapper #ANNIVEDF.finale #note .noteMoreBtn span::after{
	content:"";
	display:block;
	position:absolute;
	bottom:42%;
	right:13%;
	width:5px;
	height:5px;
	margin-right:-7px;
	border-top:solid 1px;
	border-right:solid 1px;
	transform:rotate(135deg);
	color:#333;
}
#fwCms_wrapper #ANNIVEDF.finale #note .noteMoreBtn.active span::after{
	transform:rotate(-45deg);
	bottom:20%;
}
#fwCms_wrapper #ANNIVEDF.finale #note + .sec-wrap{
	margin-top:50px;
}
#fwCms_wrapper #ANNIVEDF.finale #happyBag h3{
	font-size:16px;
	font-weight:bold;
	line-height:1.6;
	color:#AB782B;
}
#fwCms_wrapper #ANNIVEDF.finale #happyBag h3 .sub{
	font-size:14px;
	font-weight:normal;
	display:block;
}
#fwCms_wrapper #ANNIVEDF.finale #happyBag div[id^="lp_itemList"]{
	background:#FFFAE1;
}
#fwCms_wrapper #ANNIVEDF.finale div[id^="lp_itemList"]{
	margin:0 -7.5%;
}
#fwCms_wrapper #ANNIVEDF.finale div[id^="lp_itemList"] .box-inner{
	display:none;
}
#fwCms_wrapper #ANNIVEDF.finale div[id^="lp_itemList"] .box-link-list span{
	display:inline-block;
	width:auto;
}
#fwCms_wrapper #ANNIVEDF.finale div[id^="lp_itemList"] .box-link-list{
	margin-top:1%;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-bnr-list{
	margin-top:20px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-bnr-list li{
	width:calc(100% / 2 - 5px);
}
#fwCms_wrapper #ANNIVEDF.finale .sec-bnr-list li:nth-child(n+3){
	margin-top:20px;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-bnr-list li p{
	font-size:10px;
	text-align:left;
}
#fwCms_wrapper #ANNIVEDF.finale #items{
	background:var(--bgColor);
}
#fwCms_wrapper #ANNIVEDF.finale .sec-link{
	display:flex;
	justify-content:space-around;
	margin-top:20px;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-link li{
	width:calc(100% / 2 - 15px);
}
#fwCms_wrapper #ANNIVEDF.finale .sec-link li a{
	padding:10px 20px;
	border-radius:50px;
	border:solid 1px var(--color);
	position:relative;
	font-size:12px;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-link li a::after{
	content:"";
	display:block;
	position:absolute;
	top:50%;
	right:12px;
	width:8px;
	height:8px;
	margin-top:-7px;
	border-top:solid 1px;
	border-right:solid 1px;
	transform:rotate(135deg);
	color:var(--color);
}
#fwCms_wrapper #ANNIVEDF.finale .sec-link li.men a{
	border:solid 1px var(--color-M);
}
#fwCms_wrapper #ANNIVEDF.finale .sec-link li.men a::after{
	color:var(--color-M);
}
#fwCms_wrapper #ANNIVEDF.finale #items .sec-box{
	background:#fff;
	border-radius:6px;
	margin:30px -4% 0;
	padding:25px 4.6% 40px;
}
#fwCms_wrapper #ANNIVEDF.finale #items .sec-box + .sec-box{
	margin-top:20px;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-box-item + .sec-box-item{
	margin-top:40px;
}
#fwCms_wrapper #ANNIVEDF.finale #items h3{
	font-size:20px;
	font-weight:bold;
	padding-bottom:15px;
	color:var(--color);
	border-bottom:solid 1px var(--color);
}
#fwCms_wrapper #ANNIVEDF.finale #items h4{
	font-size:16px;
	font-weight:bold;
}
#fwCms_wrapper #ANNIVEDF.finale #items .sec-box.men h3{
	color:var(--color-M);
	border-bottom:solid 1px var(--color-M);
}
#fwCms_wrapper #ANNIVEDF.finale .sec-box-item{
	margin-top:35px;
}
#fwCms_wrapper #ANNIVEDF.finale #items div[id^="lp_itemList"]{
	margin:10px -4.7% 0;
}
#fwCms_wrapper #ANNIVEDF.finale #order{
	background:var(--bgColor);
	margin-top:10px;
	padding:40px 2.6%;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-lead{
	margin-top:20px;
	font-size:14px;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-order-list{
	margin-top:30px;
}
#fwCms_wrapper #ANNIVEDF.finale .sec-order-list li + li{
	margin-top:10px;
}
#fwCms_wrapper #ANNIVEDF.finale .list-text{
	letter-spacing:0;
}
#fwCms_wrapper #ANNIVEDF.finale .list-text p{
	font-size:16px;
	color:#555;
}
#fwCms_wrapper #ANNIVEDF.finale .list-text .text{
	font-size:12px;
	color:#555;
}
#fwCms_wrapper #ANNIVEDF.finale .footer{
	padding:40px 6.6% 0;
}
#fwCms_wrapper #ANNIVEDF.finale .foot-img + p{
	margin-top:40px;
}
/* ------ PC ------ */
@media all and (min-width:768px){
	#fwCms_wrapper #ANNIVEDF.finale.finale .header{
		padding:45px 0 40px;
	}
	#fwCms_wrapper #ANNIVEDF.finale.finale .header-link{
		width:25%;
		margin-left:72%;
		padding:0;
	}
	#fwCms_wrapper #ANNIVEDF.finale .header-lead{
		margin-top:0;
	}
	#fwCms_wrapper #ANNIVEDF.finale .navi{
		padding:40px 22% 50px;
	}
	#fwCms_wrapper #ANNIVEDF.finale .navi-ttl{
		padding:0 34%;
	}
	#fwCms_wrapper #ANNIVEDF.finale .navi-pick{
		bottom:-2px;
		left:33%;
		width:20%;
	}
	#fwCms_wrapper #ANNIVEDF.finale .navi-list.col2 li{
		width:calc(100% / 2 - 10px);
	}
	#fwCms_wrapper #ANNIVEDF.finale .navi-list.col2 li.update::before{
		width:26%;
	}
	#fwCms_wrapper #ANNIVEDF.finale .section{
		padding:40px 19% 50px;
	}
	#fwCms_wrapper #ANNIVEDF.finale .sec-head{
		font-size:37px;
	}
	#fwCms_wrapper #ANNIVEDF.finale .sec-btn a{
		max-width:340px;
	}
	#fwCms_wrapper #ANNIVEDF.finale .sec-img + .sec-btn{
		margin-top:20px;
	}
	#fwCms_wrapper #ANNIVEDF.finale .sec-wrap + .sec-wrap{
		margin-top:70px;
	}
	#fwCms_wrapper #ANNIVEDF.finale .sec-btn-list{
		margin-top:20px;
		padding:0 7.5%;
	}
	#fwCms_wrapper #ANNIVEDF.finale #note{
		margin:30px 0 0;
	}
	#fwCms_wrapper #ANNIVEDF.finale #happyBag div[id^="lp_itemList"] .js-listSlider::before, #fwCms_wrapper #ANNIVEDF.finale #happyBag div[id^="lp_itemList"] .js-listSlider::after{
		background:#FFFAE1;
	}
	#fwCms_wrapper #ANNIVEDF.finale div[id^="lp_itemList"] .box-link-list span{
		font-size:12px;
	}
	#fwCms_wrapper #ANNIVEDF.finale div[id^="lp_itemList"] .box-link-list{
		margin-top:0;
	}
	#fwCms_wrapper #ANNIVEDF.finale .sec-bnr-list{
		margin-top:30px;
	}
	#fwCms_wrapper #ANNIVEDF.finale .sec-bnr-list li p{
		font-size:14px;
	}
	#fwCms_wrapper #ANNIVEDF.finale #order{
		margin-top:20px;
		padding:40px 6%;
	}
	#fwCms_wrapper #ANNIVEDF.finale .sec-order-list{
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	#fwCms_wrapper #ANNIVEDF.finale .sec-order-list li{
		width:calc(100% / 2 - 10px);
	}
	#fwCms_wrapper #ANNIVEDF.finale .sec-order-list li + li{
		margin-top:0;
	}
	#fwCms_wrapper #ANNIVEDF.finale .sec-order-list li:nth-child(n+3){
		margin-top:10px;
	}
	#fwCms_wrapper #ANNIVEDF.finale .list-bnr{
		width:35%;
	}
	#fwCms_wrapper #ANNIVEDF.finale .footer{
		padding:70px 19% 0;
	}
	#fwCms_wrapper #ANNIVEDF.finale .foot-img{
		padding:0 10%;
	}
	#fwCms_wrapper #ANNIVEDF.finale .foot-img + p{
		letter-spacing:0;
		margin-top:45px;
	}
}